td {
    font-weight: bold;
}

th, td {
    font-size: 10px;
    padding: 4px;
    text-align: center;
    box-sizing: border-box;
    vertical-align: middle;
}

th:not(.nogridlines), td:not(.nogridlines) {
    border: 1px solid #ff1f8f;
    min-height: 95px;
    max-height: 95px;
}

.cell {
    border-left-width: 1px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 95%;
    margin: 10px auto;
}

.table-width {
    max-width: 700px;
}

.table-margin {
    margin-top: -10px;
}

.flex-grow-example-table {
    width: 800px;
    min-width: 300px;
    margin: 0 auto;
}

.row1 {
    background-color: #ffe6f2;
}

.row2 {
    background-color: #ffc7e3;
}

.mini-flex {
    border: 2px dotted #8a0045;
    display: flex;
    min-width: 75px;
    max-width: 75px;
    min-height: 75px;
    max-height: 75px;
    margin: 0;
    box-sizing: border-box;
    align-self: center;
}

.mini-item {
    background-color: #ff61b0;
    border: 0.5px solid #8a0045;
    aspect-ratio: 1 / 1;
    min-width: 15px;
    max-width: 15px;
    min-height: 15px;
    max-height: 15px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 0;
}

.mini-container {
    max-width: 76px;
    max-height: 76px;
    width: 75px;
    height: 75px;
    box-sizing: border-box;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    max-height: 80px;
    width: 100%;
}

.bg1 {
    background-color: #ffc7e3
}

.bg2 {
    background-color: #ffe6f2;

}
.mini-row-reverse-wrap {
    flex-flow: row-reverse wrap;
}

.mini-row-reverse-wrap-reverse {
    flex-flow: row-reverse wrap-reverse;
}

.mini-column-wrap {
    flex-flow: column wrap;
}

.mini-column-wrap-reverse {
    flex-flow: column wrap-reverse;
}

.mini-column-reverse-wrap {
    flex-flow: column-reverse wrap;
}

.mini-column-reverse-wrap-reverse {
    flex-flow: column-reverse wrap-reverse;
}

.table-headers {
    background-color: #8a0045;
    font-weight: bold;
    color: white;
}

.column-right-border {
    border-right: 3px solid #8a004580;
}


/* Responsive styles for first table (table-width) only */
@media (max-width: 768px) {
    .table-width {
        max-width: 100%;
        width: 100%;
    }
    
    .table-width th,
    .table-width td {
        font-size: 8px;
        padding: 3px;
    }
    
    .table-width th:not(.nogridlines),
    .table-width td:not(.nogridlines) {
        min-height: 70px;
        max-height: 70px;
    }
}

@media (max-width: 480px) {
    .table-width {
        max-width: 100%;
        width: 100%;
    }
    
    .table-width th,
    .table-width td {
        font-size: 7px;
        padding: 2px;
    }
    
    .table-width th:not(.nogridlines),
    .table-width td:not(.nogridlines) {
        min-height: 60px;
        max-height: 60px;
    }
}

