:root {
    font-family: 'Major Mono Display', monospace;
    text-transform: lowercase;
    text-align: center;
    line-height: 1;
    align: center;
}

.header {
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    margin: 0 auto 10px;
    background: #ff4da6;
    color: #ffd6eb;
}

.subheader {
    text-align: center;
    padding: 8px 16px;
    display: inline-block;
    margin: 0 auto 10px;
    background: #ff99cc;
}

p {
    font-size: 12px;
}

.bold {
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 20px;
}

.notation {
    font-size: 10px;
    margin-top: -18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.title {
    font-size: 14px;
    font-weight: bold;
    padding: 6px 12px;
    background: #ffd6eb;
    display: inline-block;
    width: fit-content;
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
}

.highlight {
    background: #ffe6f2;
    padding: 3px 6px;
    display: inline-block;
    width: fit-content;
    text-align: center;
    margin: 0;
}

.description {
    font-size: 12px;
    margin: 4px 0 12px;
    font-weight: bold;
}

.wrapper { 
    margin: auto;
}

.container {
    background-color: #ffc7e3;
    border: 2px dotted #8a0045;
    min-width: 40%;
    margin: 5px auto;
    min-height: 80px;
    width: 100%;
    max-width: 400px;
}

.flex {
    display: flex;
    max-width: none;
}

.container.inline-flex {
    display: inline-flex;
    width: auto;
    min-width: auto;
    max-width: none;
}

.item {
    aspect-ratio: 1 / 1;
    min-width: 80px;
    background-color: #ff61b0;
    border: 0.5px solid #8a0045;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    max-width: 200px;
}

.multi-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
    gap: 20px;
    padding: 0 10px;
}

.wrapper-items {
    margin: 0;
    flex: 0 1 45%;
    max-width: 45%;
}

.wrapper-items-column {
    width: 40%;
    margin: 0;
}

.width {
    width: 100%;
}

.height {
    max-height: 300px;
    min-width: 300px;
}

.container-column {
    max-width: 200px;

}

.column-item {
    max-height: 100px;
    max-width: 100px !important;
}

.row-group, .column-group { 
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 20px;
}

.direction-row-reverse {
    flex-direction: row-reverse;
}

.direction-column {
    flex-direction: column;
}

.direction-column-reverse {
    flex-direction: column-reverse;
}

.wrap-nowrap {
    max-width: 300px;
    flex-shrink: 0;
}

.wrap-wrap {
    flex-wrap: wrap;
    max-width: 300px;
}

.wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
    max-width: 300px;
}

